header {
  background-color: #808080;
  width: 100%;
  height: 40px;
  position: fixed;
  margin: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
nav {
  margin:10px;
  text-align: left;
  text-decoration: none;
}
a {
  color: black;
}
h1 {
  margin: 20px;
  margin-top: 60px;
}
img{
  width: 50%;
  z-index: -10;
}
section {
  z-index: -10;
  float: left;
}
section#alpha {
  width: 50%;
}
section#beta {
  width: 50%;
}
h2, p, ol, img {
  padding-left: 20px;
}
footer {
  clear: both;
  z-index: -10;
  background-color: #808080;
  width: 100%;
  height: 20px;
}
