header {
  background-color: #606060;
  width: 100%;
}
body {
   margin: 20px;
}
img{
  width: 50%;
}
section#A {
  float: left;
  width: 50%;
  margin-left: 20px;
}
section#B {
  width: 50%;
  margin-right: 20px;
}
footer {
  clear: both;
}
