.bgc1 {
  background-color:#ff0000;
}
.bgc2 {
  background-color:#ff6600;
}
.bgc3 {
  background-color:#505050;  
}
.bgc4 {
  background-color:#000000;
}
section.bgc1>li {
  color:#ffffff;
}
section.bgc2>li {
  color:#ffffff;
}
section.bgc3>li {
  color:#000000;
}
section.bgc4>ul {
  text-decoration:line-through;
  color:#00ffff;
}
h2 {
  color:#ffffff;
  text-align: center;
}
section {
  border: 5px solid black;
  height: 200px;
  width: 300px;
  overflow: auto;
  float: left;
}
footer {
  clear:both;
}
