<html>
<style>
  .even {
    background-color:#ffffff;
  }
  .odd {
    background-color:#99ccff;
  }
  li#high {
    color:#ff0000;
  }
  #medium {
    color:#ff6600;
  }
  #low {
    color:#dddddd;
  }
</style>
</html>
